@import './general';

.web-min {
  position: absolute;
  top: 55px;
  left: 200px;
  right: 0;
  background-color: var(--bgc-secondary);
  grid-template-rows: min-content;
  gap: 40px 20px;
  padding: 20px;
  min-height: 100vh;

  .course-tube {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content;
    gap: 40px 20px;

    .video-container {
      min-width: 250px;
      min-height: 256px;
      box-shadow: var(--box-shadow);
      border-radius: var(--video-border-radius);
      position: relative;

      .top-section {
        position: relative;
        object-fit: cover;

        .edit-btn-section {
          z-index: 1;

          .edit-btn {
            position: absolute;
            bottom: -12px;
            right: 0;
          }

          form {
            position: absolute;
            top: 0;
            left: 10px;
            right: 10px;
          }
        }

        img {
          width: 100%;
          height: 100%;
          border-radius: var(--video-border-radius);
        }

        small {
          position: absolute;
          bottom: 10px;
          right: 6px;
          color: var(--color-video-duration-text);
          background-color: var(--color-video-duration-bgc);
          padding: 2px 4px;
          border-radius: 2px;
          font-size: 0.9rem;
        }
      }

      .bottom-section {
        display: grid;
        grid-template-columns: 50px 1fr;
        padding-top: 10px;

        .left-bottom {
          img {
            width: 37px;
            height: 37px;
            border-radius: 50%;
            margin-left: var(--channel-img-margin-left);
          }
        }

        .right-bottom {
          h2 {
            color: var(--color-text);
          }

          .channel-details {
            @include flex(row);
            justify-content: flex-start;
            gap: 5px;
            padding-top: 5px;
            color: var(--color-channel-text);

            .verified {
              width: 15px;
              height: 15px;
              border-radius: 50%;
              color: var(--color-channel-verified);
            }
          }

          .video-details {
            color: var(--color-channel-text);
          }
        }
      }
    }
  }

  .create-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: max-content;
    background-color: var(--bgc-secondary);

    .close-btn-div {
      padding: 5px 5px 0 0;
      justify-content: flex-end;
    }

    .content {
      display: grid;
      grid-template-columns: 30% auto;
      grid-template-rows: max-content;
      padding: 0 20px;
      gap: 20px;

      .sidebar-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    h1 {
      margin-bottom: 20px;
      text-align: center;
    }

    form {
      @include flex(column);
      gap: 10px;
      background-color: white;
      padding: 10px;
      border-radius: 20px;
      letter-spacing: 2px;
      border: 1px solid var(--btn-border);

      fieldset {
        @include flex(row);
        justify-content: flex-start;
        width: 100%;
        border: none;
      }

      input {
        min-height: 40px;
        border-radius: 20px;
        outline: none;
        width: 100%;
        border: 1px solid var(--btn-border);
        padding: 0 20px;
        font-size: 1.2rem;

        &::placeholder {
          font-size: 1rem;
          font-weight: bold;
          opacity: 0.6;
        }
      }

      input[type='checkbox'] {
        width: 25px;
        height: 25px;
        margin-left: 10px;
      }
    }
  }

  .contact-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: max-content;
    background-color: var(--bgc-secondary);

    .close-btn-div {
      padding: 5px 5px 0 0;
      justify-content: flex-end;
    }

    .contact-me {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      color: var(--color-text);
      gap: 20px;
      padding: 20px;

      .left-contact {
        @include flex(column);
        align-items: flex-start;
        gap: 40px;

        .contacts-container {
          @include flex(column);
          align-items: flex-start;
          gap: 30px;
          letter-spacing: 1px;

          .contact-block {
            @include flex(column);
            align-items: flex-start;
            gap: 20px;

            .contact-header {
              @include flex(row);
              justify-content: flex-start;
              gap: 10px;
              min-width: 160px;
              font-size: 1.2rem;
              font-weight: bold;
              letter-spacing: 2px;

              .icon {
                @include flex(row);
              }
            }

            .contact-text {
              padding-left: 30px;
              margin-bottom: 20px;
              font-size: 1.1rem;
            }
          }
        }

        .anchor-btns {
          @include flex(row);
          justify-content: flex-start;
          gap: 20px;
          width: 100%;

          a {
            width: 80px;
            @include flex(row);
          }
        }
      }

      .right-contact {
        @include flex(column);
        gap: 20px;

        .person-details {
          @include flex(row);
          gap: 20px;
          width: 100%;

          input {
            width: 50%;
          }
        }

        .subject-input {
          width: 100%;
        }

        fieldset {
          border: none;
        }

        label {
          position: absolute;
          top: -99999px;
        }

        input {
          min-height: 40px;
          border-radius: 20px;
          border: none;
          outline: none;
          padding: 0 20px;
          text-align: center;
          font-size: 1.2rem;

          &::placeholder {
            text-align: left;
            font-size: 1rem;
            font-weight: bold;
            opacity: 0.6;
          }

          &:focus {
            border: 1px solid var(--btn-border);
          }
        }

        textarea {
          @extend input;
          width: 100%;
          height: 100%;
          resize: none;
          font-family: 'Roboto', sans-serif;
          padding: 10px 20px;
          text-align: left;

          &::-webkit-scrollbar {
            margin-right: 20px;
            padding-right: 40px;
            width: 9px;
          }

          &::-webkit-scrollbar-track {
            background-color: var(--bgc-primary);
          }

          &::-webkit-scrollbar-thumb {
            background-color: var(--color-scrollbar);
            border-radius: 5px;
          }
        }
      }
    }
  }
}

.web-max {
  @extend .web-min;
  left: 130px;
}

.web-full {
  @extend .web-min;
  left: 0;
}

@media all and (max-width: 1300px) {
  .web-min {
    .course-tube {
      .video-container {
        min-width: 230px;
        min-height: 230px;
      }
    }
  }
}

@media all and (max-width: 1220px) {
  .web-min {
    .course-tube {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media all and (max-width: 1000px) {
  .web-min {
    .contact-section {
      .contact-me {
        grid-template-columns: 40% 58%;
        gap: 2%;
      }
    }
  }
}

@media all and (max-width: 900px) {
  .web-min {
    .create-section {
      .content {
        grid-template-columns: 1fr;
        margin-bottom: 20px;

        .sidebar-content {
          display: flex;
          flex-direction: row;

          form {
            width: 100% !important;
          }
        }
      }
    }

    .contact-section {
      .contact-me {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;

        .left-contact {
          gap: 0;
          border-bottom: 1px solid var(--color-active);
          padding-bottom: 20px;

          .anchor-btns {
            justify-content: space-evenly;
          }
        }
      }
    }
  }
}

@media all and (max-width: 950px) {
  .web-min {
    gap: 30px 20px;

    .course-tube {
      .video-container {
        min-width: 200px;
        min-height: 220px;
      }
    }
  }
}

@media all and (max-width: 880px) {
  .web-min {
    gap: 30px 20px;

    .course-tube {
      .video-container {
        min-width: 200px;
        min-height: 200px;
      }
    }
  }
}

@media all and (max-width: 810px) {
  .web-min {
    .course-tube {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media all and (max-width: 800px) {
  .web-min {
    .create-section {
      .content {
        grid-template-columns: 1fr;

        .sidebar-content {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
      }
    }
  }
}

@media all and (max-width: 450px) {
  .web-min {
    .course-tube {
      grid-template-columns: 1fr;
    }
  }
}
