@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './login';
@import './header';
@import './sidebar';
@import './webBody';

:root {
  --bgc-primary: #fff;
  --bgc-secondary: #f0f0f0;
  --color-hover: #e6e6e6;
  --color-active: #dedede;
  --color-h1: #000;
  --color-h2: #000;
  --color-h4: #000;
  --color-text: #000;
  --color-video-duration-text: #fff;
  --color-video-duration-bgc: #000;
  --video-border-radius: none;
  --color-icon: #000;
  --color-icon-2: #000;
  --color-channel-text: #606060;
  --color-channel-verified: #808080;
  --channel-img-margin-left: 0;
  --btn-border: rgba(0, 0, 255, 0.7);
  --btn-bgc: #f0f0f0;
  --search-input-border: #d3d3d3;
  --search-input-box-shadow: rgba(0, 0, 255, 0.7);
  --color-scrollbar: #888888;
  --color-footer: #808080;
  --box-shadow: none;
  --color-submit-1: #3498db;
  --color-submit-2: #2980b9;
  --color-submit-3: #3cb0fd;
  --main-close-btn: #000;
}

#blue {
  --bgc-primary: #f0f0f0;
  --bgc-secondary: #251e5c;
  --color-hover: #ff7700;
  --color-active: #e04d01;
  --color-h1: #e04d01;
  --color-h2: #000;
  --color-h4: #000;
  --color-text: #fff;
  --color-video-duration-text: #ff7700;
  --color-video-duration-bgc: #000;
  --video-border-radius: 10px;
  --color-icon: #000;
  --color-icon-2: #000;
  --color-channel-text: #fff;
  --color-channel-verified: #e04d01;
  --channel-img-margin-left: 5px;
  --btn-border: #e04d01;
  --btn-bgc: #fff;
  --search-input-border: #e04d01;
  --search-input-box-shadow: #e04d01;
  --color-scrollbar: #e04d01;
  --color-slider: #e04d01;
  --color-footer: #e04d01;
  --box-shadow: 0 0 15px #e04d01;
  --color-submit-1: #251e5c;
  --color-submit-2: #e04d01;
  --color-submit-3: #ff7700;
  --main-close-btn: #fff;
}

#lightBrown {
  --bgc-primary: #fcffe7;
  --bgc-secondary: #dea057;
  --color-hover: #dea057;
  --color-active: #ce9461;
  --color-h1: #8e3200;
  --color-h2: #000;
  --color-h4: #000;
  --color-text: #fff;
  --color-video-duration-text: #dea057;
  --color-video-duration-bgc: #000;
  --video-border-radius: 10px;
  --color-icon: #000;
  --color-icon-2: #000;
  --color-channel-text: #fff;
  --color-channel-verified: #8e3200;
  --channel-img-margin-left: 5px;
  --btn-border: #e04d01;
  --btn-bgc: #fff;
  --search-input-border: #e04d01;
  --search-input-box-shadow: #e04d01;
  --color-scrollbar: #8e3200;
  --color-slider: #8e3200;
  --color-footer: #8e3200;
  --box-shadow: 0 0 15px #fcffe7;
  --color-submit-1: #8e3200;
  --color-submit-2: #dea057;
  --color-submit-3: #ce9461;
  --main-close-btn: #fff;
}

#dark {
  --bgc-primary: #27ae60;
  --bgc-secondary: #191d2b;
  --color-hover: #b2becd;
  --color-active: #6c7983;
  --color-h1: gold;
  --color-h2: #fff;
  --color-h4: #fff;
  --color-text: #fff;
  --color-video-duration-text: #27ae60;
  --color-video-duration-bgc: #000;
  --video-border-radius: 10px;
  --color-icon: #fff;
  --color-icon-2: #000;
  --color-channel-text: #fff;
  --color-channel-verified: #27ae60;
  --channel-img-margin-left: 5px;
  --btn-border: #191d2b;
  --btn-bgc: #fff;
  --search-input-border: #191d2b;
  --search-input-box-shadow: #191d2b;
  --color-scrollbar: #fff;
  --color-slider: #fff;
  --color-footer: #191d2b;
  --box-shadow: 0 0 15px #27ae60;
  --color-submit-1: #191d2b;
  --color-submit-2: #27ae60;
  --color-submit-3: #85fcb5;
  --main-close-btn: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 9px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--bgc-primary);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar);
    border-radius: 5px;
  }
}

h1 {
  font-size: 1.3rem;
  color: var(--color-h1);
}

h2 {
  font-size: 0.95rem;
  color: var(--color-h2);
}

h4 {
  font-size: 0.8rem;
  font-weight: normal;
  color: var(--color-h4);
}

a {
  text-decoration: none;

  &:link,
  &:visited,
  &:active {
    color: black;
  }
}

.icon {
  width: 20px;
  height: 20px;
  color: var(--color-icon);
}

.icon-2 {
  @extend .icon;
  color: var(--color-icon-2);
}

.sidebar-icon {
  width: 30px;
  height: 30px;
  color: var(--color-icon);
}

.sidebar-img {
  width: 25px;
}

.close-icon {
  @extend .icon;
  color: var(--main-close-btn);
}

.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 30px;
    height: 25px;
  }
}

.confirm,
.err {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.confirm {
  color: green;
}

.err {
  color: red;
}

.loading {
  width: 100%;
  text-align: center;
  color: white;
}

.edit-btn-section {
  .edit-btn {
    @include flex(row);
    color: var(--color-icon);
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }

  form {
    @include flex(column);
    gap: 5px;
    background-color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    letter-spacing: 2px;
    border: 1px solid var(--btn-border);

    fieldset {
      @include flex(row);
      justify-content: space-evenly;
      width: 100%;
      border: none;
    }

    input {
      height: 20px;
      border-radius: 20px;
      outline: none;
      width: 100%;
      border: 1px solid var(--btn-border);
      padding: 0 10px;
      font-size: 1rem;

      &::placeholder {
        font-size: 0.9rem;
        font-weight: bold;
        opacity: 0.6;
      }
    }

    input[type='checkbox'] {
      width: 15px;
      height: 15px;
      margin-left: 10px;
    }
  }
}

.close-btn-div {
  @include flex(row);

  .close-btn {
    @include flex(row);
    height: 100%;
    aspect-ratio: 1/1;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.form-btn {
  background: var(--color-submit-1);
  background-image: linear-gradient(to top, var(--color-submit-1), var(--color-submit-2));
  background-image: linear-gradient(to bottom, var(--color-submit-1), var(--color-submit-2));
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;

  &:hover {
    background: var(--color-submit-3);
    background-image: linear-gradient(to top, var(--color-submit-3), var(--color-submit-1));
    background-image: linear-gradient(to bottom, var(--color-submit-3), var(--color-submit-1));
    text-decoration: none;
  }
}

.update-btn {
  @extend .form-btn;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
}

.delete-btn {
  @extend .update-btn;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  background: #ff4242;
  background-image: linear-gradientto(to top, #ff4242, #c70000);
  background-image: linear-gradient(to bottom, #ff4242, #c70000);

  &:hover {
    background: #ff1717;
    background-image: linear-gradient(to top, #ff1717, #790000);
    background-image: linear-gradient(to bottom, #ff1717, #790000);
  }
}
